/*@import url('../akrobat/Akrobat.ttf');
@import url('https://fonts.googleapis.com/css?family=Arsenal');
.content{
	background-color: #eaf2f5;
	height: calc(100vh - 50px);
	top: 50px;
	position: absolute;
	width: calc(100vw - 60px);
	left: 60px;
	box-sizing: border-box;
	font-family: 'Arsenal', bold;
	padding: 15px 50px;
	box-shadow: inset 20px 20px 50px -30px rgba(0,0,0,.75);
}
@import url('akrobat/Akrobat.ttf');
.page_title{
  margin: 0 0 15px 30px;
  color: #7a8e95;
  font-size: 40px;
  font-weight: 1000;
  font-family: 'Akrobat', black;
}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
}
.logo{
	height: 30px;
	padding: 5px 10px;
}
header{
	background-color: white;
	height: 50px;
	display: flex;
	align-items: center;
	z-index: 1050;
	justify-content: space-between;
}
.menu_ul{
	list-style-type: none;
  padding: 0;
  margin: 0;
  width: 60px;
  text-align: center;
}
.menu_ul a{
  width: 60px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #33b5e6;
}
.sidebar_logo{
	width: 25px;
	padding: 10px;
}
.sidebar{
	background-color: white;
	width: 60px;
	z-index: 1050;
	height: calc(100% - 50px);
}
.social{
	padding: 0 10px;
    border-right: 1px solid #8aa6b1;
    display: flex;
    align-items: center;
    height: 50px;
}
.header_social_png{
	width: 40px;
    background: #33b5e6;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 50%;
}
.left_header_div{
	display: flex;
}
.profile{
	padding: 0 10px;
	display: flex;
    align-items: center;
    cursor: pointer;
}
.header_profile{
	width: 40px;
	border-radius: 50%;
	height: 40px;
}
.all_settings{
	width: 15px;
	height: 15px;
	cursor: pointer;
}
.username{
	font-size: 12px;
	padding: 0 5px;
	font-family: 'Marmelad', sans-serif;
}
.social div{
	height: 35px;
    width: 35px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #33b5e6;
    border-radius: 50%;
    margin: 0 5px;
}
.icon_header{
	color: white;
}
.settings_profile{
	position: absolute;
  top: 55px;
	z-index: 999;
  right: 10px;
  width: 170px;
  background: white;
  overflow: hidden;
  border-radius: 5px;
  display: none;
  text-align: center;
  box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.settings_profile a{
	margin: 0;
  padding: 10px;
  display: block;
}
.settings_profile a:hover{
	cursor: pointer;
	background-color: #33b5e5;
  color: white;
}
.settings_profile a:visited{
  color: black;
}
.settings_profile a:visited:hover{
  color: white;
}
#background{
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: 998;
	left: 0;
	top: 0;
	background-color: transparent;
	display: none;
}
.active{
	box-shadow: inset 25px 0 35px -25px #33b5e5;
}
.menu_ul li:hover{
	box-shadow: inset 25px 0 35px -25px #33b5e5;
	transition: .5s;
}
.menu_ul li:hover:after {
  content: attr(tool);
  position: absolute;
  z-index: 10;
  background: #33b5e6;
  border-radius: 15px;
  font-size: 18px;
  margin-top: -40px;
  margin-left: 40px;
  padding: 5px 10px;
  color: white;
}
.bell:hover{
  background-color: #ededed;
}
.bell{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  cursor: pointer;  
  border-right: 1px solid #8aa6b1; 
  position: relative;
}
.bell_icon{
  height: 30px;
}
.bell_modal{
  height: calc(100% - 70px);
  position: absolute;
  width: 20%;
  background: white;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  z-index: 999;
  transition: .4s ease;
  right: -25%;  
  top: 60px;
  overflow: hidden;
  box-shadow: 0 0 80px -15px;
}
.bell_title{
  margin: 0;
  font-size: 16px;
  border-bottom: 1px solid lightgray;
  height: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bell_body{
  height: 93%;  
}
.bell_count{
  position: absolute;
  top: 5px;
  font-size: 12px;
  color: white;
  right: 5px;
  background: red;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification{
    border-bottom: 1px lightgray solid;
    height: 8%;
    display: flex;
    align-items: center;
    cursor: pointer;    
    font-size:  14px;
}
.notification:hover{
    background-color: #eaeaea;
}
.notific_img{
    height: 30px;   
    margin: 0 5px;    
}
@keyframes jumpshot{
  0%{bottom: 0;}
  5%{bottom: 20px;}
  10%{bottom: 0;}
  15%{bottom: 20px;}
  20%{bottom: 0px;}
}
.activate_email{
  position: absolute;
  z-index: 990;
  background: #33b5e6;
  color: white;
  width: 170px;
  bottom: 0;
  padding: 10px;
  border-radius: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  animation: jumpshot 6s linear infinite;
}
.mail_input {
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  padding: 2px 5px;
}
.send_mail {
  background: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  margin: 5px 0;
  padding: 2px 20px;
}
#black{
  background-color: rgba(0,0,0,.5);
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  left: 0;
  z-index: 999;
  top: 0;
}

button, input, textarea{
	outline: none;
  font-family: 'Arsenal', bold;
}
a{
  text-decoration: none;
}




.non_scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}



::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}
::-webkit-scrollbar-thumb:active {
  background: #c0c0c0;
}
::-webkit-scrollbar-track {
  background: transparent;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #eaeaea;
}
::-webkit-scrollbar-track:active {
  background: #eaeaea;
}
::-webkit-scrollbar-corner {
  background: transparent;
}*/