<!Doctype html> 
<link rel="stylesheet" type="text/css" href="static/style/menu.css?ver=<%=version%>">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<header class="header">
		<div class="logo">
			<a href="/profile"><img src="static/img/logo.png"></a>
			<span class="smart_title"><a href="/profile">Smart</a><a href="/profile" style="color: #0088b8;">Chat</a></span>
		</div>
		<div class="hamburger"><a href="#">&#9776;</a></div>
		<div class="alert">
			<div class="alert_head"></div>
			<h1>Уведомления</h1>
			<div class = 'notifier_block'>
				<ul id = 'notifier' class="notifier"></ul>
			</div>
		</div>
</header>
<script src="static/js/partial/header.js?ver=<%=version%>" type="text/javascript"></script>
