.blocks_homework{
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}
.green{
    color: green;
}
.red{
    color: red;
}
.head_homework{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 12%;
    font-weight: 600;
    padding: 0 1%;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid lightgray;
    color: #1e83d4;
}
.head_homework div{
    width: 20%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.body_homework{
    height: 88%;
    height: 88%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 1%;
}
.homework_row{
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightgray;
    height: 12%;
    justify-content: space-between;
}
.homework_row_unit{
    width: 20%;
    align-items: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 14px;
}
.result_show{
    width: 70%;
    border: 1px solid #1e83d4;
    background: white;
    padding: 5px;
    border-radius: 5px;
}
.home_title{
    font-size: 20px;
    color: #1e83d4;
    font-weight: 600;
}
.home_head{
    width: 90%;
    margin: 0 auto;
    height: 10%;
    border-bottom: 1px lightgray solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_body{
    padding: 15px 0;
}
.home_img{
    height: calc(100% - 10px);
    display: inline-block;
    margin: 5px;
}
.img_video{
    display: flex;
    height: 100px;
    overflow: hidden;
    overflow-x: scroll;
}
.text_home{
    width: 95%;
}
.text_home p{
    text-indent: 10px;
    line-height: 120%;
    overflow-wrap: break-word;
}
.audio{
    display: flex;
    align-items: center;
    background: #dbe8ed;
    width: 240px;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
    user-select: none;
}
#audio_eq{
    margin: 0 5px;
}
.document{
    display: flex;
    align-items: center;
    background: #dbe8ed;
    padding: 10px;
    width: auto;
    margin: 5px 0;
    border-radius: 10px;
}
.doc_icon{
    height: 20px;
    margin-right: 10px;
}
.btn_send_home{
    padding: 5px 15px;
    border: none;
    background: #1e83d4;
    color: white;
    font-size: 18px;
    border-radius: 50px;
}
.home_foot{
    height: 10%;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.backpop{
    position: fixed;
    top: 0px;
    left: 0;
    background: rgba(0,0,0,.5);
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 1001;   
    align-items: center;
    justify-content: center
}
.backpop_img{
    transition: .3s;
    max-width: 90%;
    max-height: 70%;
    border-radius: 10px;
}
.audio{
    display: flex;
    align-items: center;
    margin: 5px 0;
}
.audio_time{
    font-size: 12px;    
    margin: 0 5px;
    width: 27px;
}
.lengthAudio{
    width: 150px;
    height: 5px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
}
.duration{
    background: #1e83d4;
    height: 100%;
    width: 0;
}
.playPause{
    height: 20px;
}
.voicePlay{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    background-color: #1e83d4;
    align-items: center;
    border-radius: 50%;
}
.document_row{
    display: flex;
    flex-wrap: wrap;
}