.res_blocks_result{
	width: 90%;
    margin: 20px auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-sizing: border-box;
}
.res_wrong_answer:before{
    font-weight: 600;
    content: 'Неправильно!';
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 7px;
}
.res_right_answer:before{
    font-weight: 600;
    content: 'Правильно!';
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 7px;
}
.res_wt_answer:before{
    font-weight: 600;
    content: 'Правильный ответ!';
    position: absolute;
    right: 10px;
    font-size: 12px;
    top: 7px;
}
.res_question_row{
    padding: 5px 5px 5px 20px;
    font-size: 14px;
    position: relative;
}
.res_wrong_answer{
    color: rgb(255,0,0);
    border-bottom: 1px solid  rgb(255,0,0);
    font-weight: 600;
}
.res_right_answer{
    color: rgb(71, 177, 71);
    border-bottom: 1px solid  rgb(71, 177, 71);
    font-weight: 600;
}
.res_wt_answer{
    color: rgb(71, 177, 71);
    border-bottom: 1px solid  rgb(71, 177, 71);
    font-weight: 600;
}
.res_answer_name{
    font-weight: 600;
    text-align: center;
    color: #1e83d4;
    margin: 10px 0;	
    font-size: 16px;
}
.res_result_text{
    font-size: 14px;
    text-align: center;
}
.res_test_result{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;	
}
.res_blue_result{
    color: #1e83d4;
    font-weight: 600;
}
.res_answer_block{
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    box-sizing: border-box;
}
.res_test_name{
    text-align: center;
    border-bottom: 1px solid lightgray;
    font-size: 14px;
    margin: 0;
    padding: 10px;
}
.res_all_tests_body{
    overflow: hidden;
    height: 88%;
    overflow-y: scroll;
}
.res_test_content{
    width: 90%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
}
.res_test_name_head{
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.res_answer_block{
    border-bottom: 1px solid lightgray;
    box-sizing: border-box;
    padding-bottom: 10px;
}
.res_test_check_body{
    overflow: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    width: 90%;
}
.res_footer_check_test{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
.res_answer_send{
    background: #1e83d4;
    border: none;
    padding: 8px 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 50px;
    width: 60%; 
    color: white;
}
.res_question_row label{
    display: block;
}
.res_p100{
    width: 100%;
}
.res_p70{
    width: calc(100% - 100px);
}
.res_question_row input{
    position: absolute;
    margin: 2px 0;
    left: 0;    
}
.res_confirm{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    z-index: 1200;
    align-items: center;
    background: rgba(0,0,0,.5);
}
.res_modal_confirm{
    width: 90%;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}
.res_modal_confirm p{
    margin: 0 0 10px;
}
.res_btn{
	background-color: #1e83d4;
	border-radius: 10px;
    padding: 5px 12px;
	margin: 0 5px;
	font-size: 16px;
    color: white;
    border: none;
}
.res_question_number{
    position: absolute;
    height: 20px;
    width: 20px;
    background: #1e83d4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 0;
    color: white;
    left: 0;
}
.res_question{
    border-radius: 8px;
    position: relative;
    display: flex;
    font-size: 18px;
    margin-bottom: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 25px;
}