<!DOCTYPE html>
<html>
<head id= 'head'>
	<title>SmartChat</title>
	<meta charset="utf-8">
	<link rel="icon" type="img/png" href="static/img/logo.png">
	<link rel="stylesheet" type="text/css" href="static/style/test_create.css?ver=<%=version%>">
</head>
<body>
	<% include ../partial/header %>
	<div class="wrapper">
		<% include ../partial/menu %>
		<div class = 'container' id="containerCreate">
		</div>
	</div>
</body>
<script src="static/js/test/creater.js?ver=<%=version%>" type="text/javascript"></script>
</html>