<!DOCTYPE html>
<html lang="ru">
<head>

	<title>SmartChat</title> 
	<meta charset="utf-8">
	<link rel="icon" type="img/png" href="static/img/logo.png">
	<link rel="stylesheet" type="text/css" href="static/style/testresult.css?ver=<%=version%>">
</head>
<body> 
	<% include ../partial/header %>
	<div class="wrapper">
		<% include ../partial/menu %>
		<div class="contentTest">
			<div class = 'testBlock'></div>
		</div>
	</div>
<script src="static/js/test/testresult.js?ver=<%=version%>" type="text/javascript"></script>
</body>
</html>
s