<!DOCTYPE html>
<html>
<head>
	<title>SmartChat</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="static/style/login.css?ver=<%=version%>">
	<link rel="icon" type="img/png" href="static/img/logo.png">
</head>
<body>
	<div class="wrapper">
		<div class="login">
			<h2 style="font-size: 4vh" class="login_title">Поздравляем, ваш аккаунт активирован и вы можете приступать к обучению студентов на платформе <a href="/profile">SmartChat</a>!</h2>
			<h3 class = 'err' id = 'err' style="font-size: 4vh; text-align: center;"></h3>
			<button class="login_btn" id ='login_btn' onclick="gotoSmartChat()">Перейти в SmartChat</button>
		</div>
	</div>
<script src="static/js/account/activated.js?ver=<%=version%>" type="text/javascript"></script>
</body>
</html>