<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="public/styles/oops.css">	
	<link rel="shortcut icon" href="/static/img/topLogo.png" type="image/x-icon">
	<title>Почта активирована</title>
</head>
<body>
	<div class="main_mactive">
		<div class="text_mactive">
			<h1 class="h_mactive">Ваша почта успешно активирована!</h1>
		</div>
		<div class="img_mactive">
			<img src="public/img/mactive.png" class="link_oops">
		</div>
	</div>
</body>
<script type="text/javascript">
	setTimeout(()=>{
		top.location.href = '/'
	}, 3000)
</script>
</html>