<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="public/styles/oops.css">	
	<link rel="shortcut icon" href="/static/img/topLogo.png" type="image/x-icon">
	<title>Ссылка устарела</title>
</head>
<body>
	<div class="main_oops">
		<div class="text_oops">
			<h1 class="h_oops">Упс. <br>Данная ссылка устарела.</h1>
			<p class="p_oops">Выполните вход и попробуйте отправить повторно!</p>
			<button class="btn_oops" onclick="top.location.href = '/'">Войти</button>
		</div>
		<div class="img_oops">
			<img src="public/img/oops.png" class="link_oops">
		</div>
	</div>
</body>
</html>