.homeworks_blocks{
    width: 95%;
    background: white;
    height: calc(100% - 70px);
    margin: 15px auto 0;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px -2px lightgray;
    overflow: hidden;
    flex-direction: column;
}

.green{
    color: green;
}
.red{
    color: red;
}
.head_homework{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    font-weight: 600;
    padding: 0 1%;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid lightgray;
    color: #1e83d4;
}
.head_homework div{
    width: 20%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.wait_gif {
    height: 30px;
}

.body_homework{
    height: calc(100% - 50px);
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 1%;
}
.homework_row{
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightgray;
    height: 50px;
    justify-content: space-between;
}
.homework_row_unit{
    width: 20%;
    align-items: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 14px;
}
.result_show{
    width: 70%;
    border: 1px solid #1e83d4;
    background: white;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
	color: #1e83d4;
}
.result_show:hover{
    background-color: #1e83d4;
    color: white;
}
.home_title{
    font-size: 20px;
    color: #1e83d4;
    font-weight: 600;
}
.home_head{
    width: 90%;
    margin: 0 auto;
    height: 50px;
    border-bottom: 1px lightgray solid;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_body{
    height: calc(100% - 100px);
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: scroll;
}
.home_img{
    height: 150px;
    width: auto;
    margin: 0 2px;
}
.home_video{
    height: 150px;
    width: auto;
    margin: 0 2px;
}
.text_home{
    width: 95%;
}
.audio{
    display: flex;
    align-items: center;
    background: #dbe8ed;
    width: 290px;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}
#audio_eq{
    margin: 0 5px;
}
.document{
    display: flex;
    align-items: center;
    width: 200px;
    background: #dbe8ed;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
}
.doc_icon{
    height: 20px;
    margin-right: 10px;
}
.btn_send_home{
    padding: 5px 15px;
    border: none;
    background: #1e83d4;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
.home_foot{
    height: 50px;
    width: 90%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
.bals{
    font-size: 18px;
    font-weight: 600;    
    color: #1e83d4;
}
.img_video{
    display: flex;
    padding:  5px 0px;
    overflow-x: scroll;
    margin-bottom: 20px;
    width: calc(100% - 5px);
}