.tests_block{
    flex-direction: column;
	width: 95%;
    margin: 15px auto 0;
    background: white;
    height: calc(100% - 70px);
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 20px -2px lightgray;
}
.green{
	color: green;
}
.red{
	color: red;
}
.head_tests{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 50px;
    align-items: center;
    font-weight: 600;
    padding: 0 1%;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    color: #1e83d4;
}
.result_show{
    width: 70%;
    border: 1px solid #1e83d4;
    background: white;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
    color: #1e83d4;
}
.result_show:hover{
    background-color: #1e83d4;
    color: white;
}
.head_tests div{
    width: 20%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
.body_tests{
    height: calc(100% - 50px);
    overflow: hidden;
    overflow-y: scroll;
    padding: 0 1%;
}
.test_row{
    width: 100%;
    display: flex;
    border-bottom: 1px solid lightgray;
    height: 50px;
    justify-content: space-between;
}
.test_row_unit{
    width: 20%;
    align-items: center;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 0 5px;
    font-size: 14px;
}